<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ site.baseurl | append:'/assets/logo.ico' }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="ja, j a, ja chowdary, j a chowdary, j a chowdary official, official, chief secretary, it, it advisor, government of ap, jachowdary.org, andhra pradesh">
  
  <meta name="author" content="caravel">

  <title>{{ site.name }} - {% if page.title %}{{ page.title }}{% endif %}</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "../css/main.css" | prepend: site.baseurl }}">
  <script type="text/javascript">
    $(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();
      var target = this.hash,
      $target = $(target);
      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'swing', function () {
          window.location.hash = target;
      });
    });
  });
 </script>
</head>